@media screen and (max-width: 1199px) {}
@media screen and (max-width: 991px) {
	.main_menu > li{
		margin-right: 20px;
	}
	.header_middle{
		margin-left: 0px;
	}
    
    .home_txt {
        margin-top: 0px;
    }
    .artboard img {
        height: 200px;
    }
    .section-portfolio h2, .section-portfolio span {
        text-align: right;
        margin-right: 25px;
    }
    
    
	.slide_txt h2{
		font-size: 30px;
	}
	#homeSlider .owl-nav > .owl-next{
		left: -60px;
	}
	#homeSlider .owl-nav > .owl-prev{
		right: -60px;
	}
	.f_right{
		float: none;
	}
	.copy_right{
		text-align: center;
		margin-top: 5px;
	}
	.f_social{
		float: right;
	}
}
@media screen and (max-width: 767px) {

    .section_home{
        height: 102vh;
    }
    .home_txt-slide {
        margin-top: 150px;
        text-align: center;
    }
    .home_txt_table {
        width: 100%;
        padding-left: initial;
    }
    .port-item1 {
        margin-top: auto;
    }
    .home_thumb img {
        display: none;
    }
    .home_txt-slide > h2 {
        font-size: 22px;
    }

    .section-services .item {
        height: 260px;
    } 



    .logo-site {
        float: left;
    }
	.main_menu,.header_right{
		display: none;
	}
	#homeSlider .owl-nav > div{
		display: none !important;
	}
	.slide_txt{
		margin-top: 0;
		margin-bottom: 20px;
		text-align: center;
	}
	.slide_txt h2{
		font-size: 26px;
	}
	.logo-abs{
		width: 70px;
		height: 70px;
		line-height: 67px;
	}
	#homeSlider{
		padding-top: 30px;
	}
	.section_slide{
		padding-bottom: 50px;
        height: 100vh;
	}
    .img-mobail {
        top: 40px;
        text-align: center;
    }
    .body-slide h3 {
        margin-top: 60px;
        margin-bottom: 20px;
        width: 100%;
        font-size: 20px;
    }
    .body-slide p {
        width: 100%;
        font-size: 13px;
        margin-bottom: 20px;
    }
    .body-slide button {
        margin-bottom: 30px;
    }
    
    .item .images-1 {
        width: 100%;
    }
   
    .home_txt {
        margin-bottom: 0px;
        padding-right: 15px; 
        text-align: right;
    }
    
    .section-portfolio span, .section-portfolio h2{
        margin-right: 25px;
    }

    .port-box {
        width: 100%;
        margin: auto;
    }
    .artboard img {
        display: none;
    }
    .icon-st {
        margin-bottom: 50px
    }
    
    .section-contact .col-sm-4, .section-contact .col-sm-12 {
        padding-left: 15px;
    }
    
    .section-contact .btn_contact {
        margin-left: 0;
    }
    
    .section-about h5 {
        font-size: 13px;
    }
    .section-portfolio span {
        margin-left: 20px;
    }
    .section-portfolio h4 {
        margin: 20px 0 20px 0px;
    }
    .section-portfolio h6 {
        margin-left: 0px;
    }
    .section-portfolio .box-right{
        margin-top: 0;
    }
    .section-portfolio {
        padding: 100px 0 50px;
    }
    .section-statistics h5 {
        margin-bottom: 30px;
    }
    .section-testmonials .box-test {
        width: 100%;
    }
    .section-testmonials p {
        width: 100%;
    }
    .section-testmonials .img-test {
        left: 20%;
    }
    .box-test .fa-quote-left {
        color: #380c7a;
        font-size: 30px;
        background: #fff;
        position: absolute;
        top: -30px;
        left: -10px;
        padding: 15px;
    }
    
    .section-portfolio h2 {
        margin-right: auto;
        text-align: center !important;
        margin-left: auto
    }
    .section-portfolio span {
        margin-left:auto;
        text-align: center !important;
        margin-right: auto
    }
    .section-testmonials .fa-chevron-right {
        right: 5%;
    }
    .section-testmonials .fa-chevron-left {
        left: 5%;
    }
   
    .social-link{
        background: #333;
    }
    .social-link li {
        display: inline-block;
        margin: 5px 17px;
    }
    
    
    .section-about-page .container {
        padding: 20px 30px 20px;
    }
    
    .section-successful h2 {
        font-size: 20px;
    }
    
    
    .card-service {
        width: 90%;
    }
    
    .card-service ul {
        margin-bottom: 20px;
    }
    .card-service {
        height: 280px;
    }
    
    .section-about .icon-st img {
        width: 40%;
        margin-top: 15%;
    }
    
	#homeSlider.owl-theme .owl-dots .owl-dot span{
		margin: 6px;
		width: 10px;
		height: 10px;
	}
	#header{
		padding: 20px 0;
	}
    .brand-area img {
        width: 120px;
    }
	.sec_head h2{
		font-size: 28px;
        text-align: right;
	}
    .home_txt{
        padding-left: 15px;
    }
    
    .port-box1, .port-box {
        width: 100%;
    }
    
	#client-slider.owl-theme .owl-dots .owl-dot span{
		width: 10px;
		height: 10px;
		margin: 6px;
	}
	.before-text h2 {
        text-align: center !important;
        width: auto;
        margin: auto;
        margin-bottom: 60px;
    }
    .before-text span {
        display: none;
    }
	
	.hamburger{
		display: block;
        margin-top: -5px;
	}
	.lang_site{
		display: none;
	}
	.header_middle{
		float: right;
		margin-left: 0;
	}
	.top_action > li{
		margin: 0;
	}
	.top_action > li > a{
		width: 40px;
		height: 40px;
		text-align: center;
		line-height: 40px;
	}
	.center-screen{
		width: 90%;
	}
	.overlay-close{
		width: 50px;
		height: 50px;
	}
	.overlay-close:before, .overlay-close:after{
		width: 30px;
	}
	.f_menu > li{
		padding-right: 15px;
		margin-right: 15px;
	}
	.section_content_inner{
		padding: 70px 0;
	}
	.section_content_inner .sec_head h2{
		margin-bottom: 20px;
	}
	#footer.footer_inner{
		padding-top: 50px;
	}
    
    .section-contact ul {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 500px) {
	.slide_txt h2{
		font-size: 20px;
	}
}

@media screen and (max-width: 400px) {
	.store_btn > li{
		float: none;
		margin-right: 0;
		display: block;
	}
	.store_btn > li > a{
		width: 100%;
		display: block;
	}
	.store_btn{
		display: block;
	}
	.about_gallery .col-xs-6{
		width: 100%;
	}
}